@model TwitterSearcher.Models.AnalyzeViewModel

<!--centering div to align entire display-->
<div align="center">
    <h1>Twitter Analyzer</h1>
    <br />
    <br />

    <!--Keyword/Hashtag and sample size input form-->
    <form asp-controller="Home" asp-action="Index" method="post">
        <div class="form-group">
            <label asp-for="Keyword">Keyword:</label>
            <br />
            <input class="form-control" asp-for="Keyword" />
        </div>

        <div class="form-group">
            <label asp-for="SampleSize">Sample Size</label>
            <select asp-for="SampleSize">
                <option value="10">10</option>
                <option value="100">100</option>
                <option value="1000">1000</option>
            </select>
        </div>
        <input type="submit" value="Analyze Keyword" />
    </form>

    <br />
    <br />

    <!--Data display table; iterates through all items and displays them.-->
    @if (Model.Counter != null)
    {
        <table style="width:100%">
            <tr>
                <th>Result word</th>
                <th>Result Frequency</th>
            </tr>
            @foreach (var item in Model.Counter)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                </tr>
            }
        </table>
    }
</div>