@model TwitterSearcher.ViewModels.AddUserViewModel

<h2>User Registration</h2>

<div align="center">
    <h1>New User Registration</h1>
    <br />
    <br />

    <!--User Registration Form-->
    <form asp-controller="User" asp-action="Add" method="post">
        <div class="form-group">
            <label asp-for="Username">Username</label>
            <br />
            <input class="form-control" asp-for="Username" />
            
            <label asp-for="Email">Email</label>
            <br />
            <input class="form-control" asp-for="Email" type="email"/>

            <label asp-for="Password">Password</label>
            <br />
            <input class="form-control" asp-for="Password" type="password" />

            <label asp-for="Verify">Verify Password</label>
            <br />
            <input class="form-control" asp-for="Verify" type="password" />
        </div>

        <input type="submit" value="Register" />
    </form>

    <br />
    <br />
</div>
